<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.asp" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.asp" responseMode="ExecuteURL" />
        </httpErrors>
        <rewrite>
            <rules>
                <rule name="redirect-https" enabled="false" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
        <rule name="Redirect domain.com to www" enabled="false" patternSyntax="Wildcard" stopProcessing="true">
            <match url="*" />
            <conditions>
                        <add input="{HTTP_HOST}" pattern="cristalensi.it" />
            </conditions>
            <action type="Redirect" url="https://www.cristalensi.it/{R:0}" />
        </rule>
            </rules>
        </rewrite>
		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
		</staticContent>
		<urlCompression doStaticCompression="true" doDynamicCompression="false" />
    </system.webServer>
</configuration>